@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    color: #292929;
    font-size: 1em;
    background-color: #F1F1F1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    color: var(--colorpattern);
    font-size: 1.4em;
    margin-top: 22px;
    margin-bottom: -5px;
}

section {
    height: auto;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    box-shadow: 0px 0px 6px rgba(91, 96, 255, 0.322);
}

section > img {
    width: 100%;
    margin: -20px -20px -0px -20px;
    background-color: var(--colorpattern);
    padding-left: 40px;
}

.barra {
    height: 18px;
    width: 100%;
    background-color: rgba(220, 221, 253, 0.63);
    border-radius: 20px;
}

.barraProgresso {
    height: 18px;
    width: 0%; /*Progresso*/
    background-color: var(--colorpattern);
    margin: 0px;
    border-radius: 20px;
    text-align: center;
}

section div p {
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    margin: auto;
}

section > p {
    color: var(--colortext);
    line-height: 1.5em;
    font-size: 1em;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 20px;
}

section > p.skill {
    font-size: 1em;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 15px;
}

h2.about::before {
    content: url(images/about-icon.png) '\00A0';
}

h2.skills::before {
    content: url(images/skill-icon.png) '\00A0';
}

h2.languages::before {
    content: url(images/languages.png) '\00A0';
}

footer {
    min-height: 80px;
    background-color: var(--colorpattern);
    text-align: center;
    color: white;
}

footer > p {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer div.social > a {
    padding-left: 4px;
    padding-right: 4px;
}

footer div a img {
    height: 24px;
    width: 24px;
}


hr {
	border-width: 0; 
	height: 1px;
	border-top-width: 1px;
	}